<footer class="dsh-footer">
    <div class="dsh-footer-links">
        <a href="/Account/Payment">За картки в Сервісному Центрі Reservio</a>
        <a href="/Account/Settings">Питання та конфіденційність</a>
        <a href="/Account/Settings">Налаштування файлів cookie</a>
        <a href="/">Заява про права людини</a>
        <a href="/Account/Messages">Відрядні суперечки</a>
        <a href="/">Ліцензія на надання послуг</a>
    </div>
    <div class="dsh-footer-copy">Copyright 2026 &bull; &copy; 2025 &bull; Reservio&trade; &bull; Всі права захищено</div>
</footer>
