<footer class="dsh-footer">
    <div class="dsh-footer-links">
        <a href="#">За картки в Сервісному Центрі Reservio</a>
        <a href="#">Питання та конфіденційність</a>
        <a href="#">Налаштування файлів cookie</a>
        <a href="#">Заява про права людини</a>
        <a href="#">Відрядні суперечки</a>
        <a href="#">Ліцензія на надання послуг</a>
    </div>
    <div class="dsh-footer-copy">Copyright 2026 &bull; &copy; 2025 &bull; Reservio&trade; &bull; Всі права захищено</div>
</footer>
