<div class="auth-card-footer">
    <p>Входячи в акаунт або створюючи новий, ви погоджуєтесь з нашими
        <a href="#">Правилами й умовами</a> та <a href="#">Політикою конфіденційності</a>
    </p>
    <p>Усі права захищено.</p>
    <p>Copyright (2006 - 2026) - Reservio.com&trade;</p>
</div>