<nav class="home-navbar">
    <a href="/" class="home-navbar-logo">Reservio</a>
    <div class="home-navbar-right">
        <span class="nav-text">UAH</span>
        <div class="home-navbar-flag">
            <svg width="32" height="22" viewBox="0 0 32 22" fill="none">
                <rect width="32" height="11" fill="#005BBB"/>
                <rect y="11" width="32" height="11" fill="#FFD500"/>
            </svg>
        </div>
        <a href="#" class="nav-text nav-text-desktop">Зареєструвати своє помешкання</a>
        <a href="@Url.Action("Register", "Account")" class="nav-text nav-text-desktop">Зареєструватися</a>
        <a href="@Url.Action("Login", "Account")" class="btn-nav-primary">Увійти</a>
    </div>
</nav>