<nav class="home-navbar">
    <a href="/" class="home-navbar-logo">
        <img src="~/images/icons/Reservio.svg" alt="Reservio" style="width: 159.848px; height: 30.074px; flex-shrink: 0;" />
    </a>
    <div class="home-navbar-right">
        <div class="home-navbar-currency">UAH</div>
        <div class="home-navbar-flag">
            <svg width="30" height="20" viewBox="0 0 30 20" fill="none">
                <rect width="30" height="10" fill="#0057B7"/>
                <rect y="10" width="30" height="10" fill="#FFD700"/>
            </svg>
        </div>
        <a href="#" class="nav-text nav-text-desktop">Зареєструвати своє помешкання</a>
        <a href="#" class="home-navbar-user">
            <div class="home-navbar-avatar">МК</div>
            <span class="home-navbar-username">Марія Коваленко</span>
        </a>
    </div>
</nav>