<nav class="auth-topbar">
    <a href="/" class="auth-topbar-logo">
        <img src="~/images/icons/Reservio.svg" alt="Reservio" />
    </a>
    <div class="auth-topbar-right">
        <div class="auth-topbar-currency">UAH</div>
        <div class="auth-topbar-flag">
            <img src="~/images/icons/icon_flag_ua.svg" alt="UA" />
        </div>
        <a href="#" class="auth-topbar-help">
            <img src="~/images/icons/Help.svg" alt="Допомога" />
        </a>
    </div>
</nav>