<nav class="navbar">
    <a href="/" class="navbar-logo">Reservio</a>
    <div class="navbar-right">
        <div class="navbar-flag">
            <svg width="32" height="22" viewBox="0 0 32 22" fill="none">
                <rect width="32" height="11" fill="#005BBB"/>
                <rect y="11" width="32" height="11" fill="#FFD500"/>
            </svg>
        </div>
        <button class="navbar-help" aria-label="Допомога">?</button>
    </div>
</nav>